/* h1 {
    text-align: center;
    font-family:cursive;
    color:rgb(54, 50, 19);
}
svg {
    width: 960px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
path:hover {
    fill:rgb(94, 162, 6);
}
.states {
    fill:rgb(235, 166, 27);
    stroke: black;
}
.state-borders {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
} */

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

html, body{
    min-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:deepskyblue
}

svg{
    padding: 10px;
}

#canvas{
    min-width: 1000px;
    min-height: 620px
}

#tooltip{
    visibility: hidden;
    color:whitesmoke;

    /* width: auto;
    height: auto; */
}

.county:hover{
    fill:dimgrey
}
/* path:hover{
    fill:darkgoldenrod;
} */

#leftSide{
    display: flex;
    background-color: darkslategrey;
}



